import { Box } from '@mui/system' import { Fragment, FunctionComponent } from 'preact' import Spoilers from
'../Components/Spoiler/Spoilers' const
{{camelCase name}}: FunctionComponent = () => { return (
<section className='tense-time'>
  <div className='tense-time__container'>
    <Spoilers statement='{<Statement' />} denial={<Denial />} question={<Question />} />
  </div>
</section>
) } const Statement: FunctionComponent = () => { return (
<Fragment />
) } const Denial: FunctionComponent = () => { return (
<Fragment />
) } const Question: FunctionComponent = () => { return (
<Fragment />
) } export default
{{camelCase name}}
